@charset "utf-8";
body {
    background-image: url("background.jpg");
}
.name {
    background: white;
    border: 2px solid;
    margin: 0.5em;
    padding: 1em 2em;
    line-height: 1;
    text-align: center;
}
.button {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(0);
    background: white;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}
.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.50em);
  background: rgb(143, 137, 137);
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}